/*Ballet Harmony 폰트를 다운 받아야 합니다. */
/*다운로드 링크 : https://www.dafont.com/ballet-harmony.font*/

* {
    z-index: 2;
}


p {
    color: white;
}

/*모바일 화면 크기 설정*/
body {
    max-width: 720px;
    margin: 0 auto;
}

/* 상단 고정 헤더 */
#header {
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    max-width: 720px;
    border-bottom: 1px solid gray;
    z-index: 3;
}

/*어라운드 스페이스 로고*/
#header #logo {
    font-family: Ballet Harmony;
    font-size: 55px;
    background-image: linear-gradient(100deg, deeppink, coral, greenyellow, deepskyblue, blue, purple);
    -webkit-background-clip: text;
    color: transparent;

}

.logo-wrapper {
    margin-left: 10%;
    text-align: center;
    /*flex grow를 1로 주면 가로 비율 전체를 차지하게 된다.*/
    flex-grow: 1;
}

/*로고에 마우스 올릴때 효과*/
#logo:hover, #logo:focus {
    animation-duration: 3s;
    animation-name: rainbowLink;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes rainbowLink {
    0% {
        color: deeppink;
    }
    15% {
        color: coral;
    }
    30% {
        color: yellow;
    }
    45% {
        color: yellowgreen;
    }
    60% {
        color: deepskyblue;
    }
    75% {
        color: purple;
    }
    90% {
        color: #6b2aff;
    }
    100% {
        color: #e82aff;
    }
}

.add-icon-wrapper {
    width: 10%;

}

/*포스팅 아이콘*/
.header-icon {
    color: cornflowerblue;
}

/* 컨테이너  */
#container {
    padding-top: 1%;
/*    1% 여백을 줘서 포스트가 헤더에 가려지지 않게 한다.*/
}

/* [공통] 포스트 헤더, 바디 */
.left-wrapper {
    margin-left: 3%;
    display: flex;
    align-items: center;
    width: 100%;
}


.right-wrapper {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-right: 3%;

}

.right-wrapper > i {
    color: cornflowerblue;
    z-index: 1;
}

/* 포스트 - 헤더 */
.post-header {
    position: relative;
    z-index: 1;
    margin: 1% 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid gray;
    width: 100%;
}


.post-header .left-wrapper img {
    width: 5vw;
    height: 5vw;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 3% 2%;
}

.post-header .left-wrapper p {
    margin-left: 2%;
    font-weight: bold;
    font-size: 14px;
}


/* 포스트 - 바디 */

/*포스트 이미지*/
.post-img > img {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 500px;
    object-fit: cover;

}

/* 좋아요,댓글,DM,즐겨찾기 아이콘 전체를 묶는 클래스*/
.post-body .post-icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1%;
}

/*좋아요 아이콘*/
.post-body .post-icons-wrapper .left-wrapper .post-icon {
    margin: 2% 4%;
    width: 14%;
    color: cornflowerblue;
    z-index: 1;

}

/*좋아요 아이콘에 마우스를 올리면 색상이 변한다.*/
.post-body .post-icons-wrapper .left-wrapper .post-icon:hover {
    color: darkorange;
    z-index: 1;
}

/*댓글 아이콘*/
.post-body .post-icons-wrapper .left-wrapper .post-icon-2 {
    margin: 2% 4%;
    width: 13%;
    color: cornflowerblue;
    z-index: 1;
}

/*DM 아이콘*/
.post-body .post-icons-wrapper .left-wrapper .post-icon-3 {
    margin: 2% 4%;
    width: 14%;
    color: cornflowerblue;
    z-index: 1;

}

/* 포스트 - 푸터 */
.post-footer {
    margin-bottom: 4%;
    position: relative;
    background-color: black;
    padding-left: 2%;
    z-index: 1;
}

/*몇명이 좋아요 했는지 알려주는 줄의 전체 묶음 */
.post-footer .post-like-wrapper {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*프로필 이미지*/
.post-footer .post-like-wrapper img {
    width: 3vw;
    height: 3vw;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    border: 1px solid lightgray;
    margin: 0 1%;
}


.post-footer .post-like-wrapper p {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 14px;
}

/*작성자가 쓴 글 전체 묶음*/
.post-footer .post-content-wrapper {
    display: flex;
}
/*작성자*/
.post-footer .post-content-wrapper .post-author {
    margin: 0% 2% 0% 2%;
    font-weight: bold;
    font-size: 14px;
}
/*작성자가 쓴 글*/
.post-footer .post-content-wrapper .post-content {
    margin: 0%;
    font-size: 14px;
}

/*몇시간 전에 작성했는지 알려준다.*/
.post-footer .post-time {
    color: gray;
    font-size: 10px;
    margin-left: 2%;
    margin-top: 5%;
}

/*코멘트*/
/*댓글 전체 묶음 박스*/
.comment-show-box {
    margin-left: 4%;
    font-size: 12px;
}

/*댓글 작성 란 전체 묶음*/
.form-group {
    margin-left: 4%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}


/*댓글 창*/
.main-icon-like-text-write-commentbox {
    display: flex;
    margin-top: 1%;
}

.main-icon-like-text-write-subtext {
    margin-left: 2%;
    color: white;
    font-size: 12px;
}

.main-icon-like-text-write-footer {
    color: white;
    font-size: 12px;
}

.main-icon-like-text-write-comment {
    color: white;
    font-size: 12px;

}

.userName {
    color: white;
    font-size: 14px;
}

.form-group {
    display: flex;
    color: white;

}

.form-control {
    height: 15px;
}

.cmt-box {
    border: 1mm solid #F9E435;
    width: 40%;
}

.btn-primary {
    color: #e82aff;
}

/*댓글 작성 박스*/
.com-btn {
    padding: .2em 1em;
    background-color: #5796D6;
    color: white;
    outline: 0;
    border: 1mm solid #F9E435;

}

/*삭제 버튼 클래스*/
.x-btn {
    padding: .1em 0.5em;
    color: #5796D6;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-weight: bold;
}

.comment-savebox {
    color: white;
}

.comment-wrapper {
    display: flex;
    color: white;

}

/* 고정된 푸터 */
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 720px;
    border-top: 1px solid gray;
    background-color: black;
}

/*푸터 전체 묶음*/
#footer #icon-wrapper {
    margin: 2% 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

/*마이페이지 아이콘*/
.footer-icon {
    margin-right: 35px;
    width: 100%;
    color: cornflowerblue;
    z-index: 3;
}

