<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/regist.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/background.css"/>
    <script type="text/javascript" src="/static/js/regist.js"></script>
</head>
<body>

<div class="stars"></div>
<div class="twinkling"></div>
<div class="main-box">
    <div class="section has-text-centered">
        <div class="section-wrapper">
            <div class="background-wrapper">
            <p id="logo">InstaGram</p>
            <h1 class="title">Sign up</h1>
            <div class="container">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="id"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p id="help-id">아이디는 3-15자의 영문과 숫자와 일부 특수문자(._-)만 입력 가능합니다.</p>
                            <p id="help-id-login" class="is-danger"></p>
                            <div class="id-wrapper lined-up">
                                <div class="control">
                                    <input type="text" class="input id-input" id="id" aria-describedby="emailHelp"
                                           placeholder="ID">
                                </div>
                                <div id="btn-check-dup">
                                    <button onclick=check_duplicate()>중복확인</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="pw"></label>
                    </div>
                    <div class="field-body lined-up">
                        <p id="help-password">영문과 숫자 조합의 3-20자의 비밀번호를 설정해주세요.</p>
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="pw" placeholder="PW">
                            </div>
                        </div>

                    </div>
                </div>
<!--                <div class="field is-horizontal">-->
<!--                    <div class="field-label is-normal">-->
<!--                        <label class="label" for="email"></label>-->
<!--                    </div>-->
<!--                    <div class="field-body">-->
<!--                        <div class="field">-->
<!--                            <div class="control">-->
<!--                                <input type="text" class="input lined-up" id="email" placeholder="e-mail">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label" for="profile-img"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="file" class="input lined-up" id="profile-img" placeholder="Image">
                            </div>
                        </div>
                    </div>
                </div>

                <button disabled id='create-btn' class="button is-primary lined-up" onclick=registerCheck()>회원가입
                </button>
            </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>