<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <title>로그인</title>
    <link rel="stylesheet" type="text/css" href="/static/styles/login.css" />
    <link rel="stylesheet" type="text/css" href="/static/styles/background.css" />
    <script type="text/javascript" src="/static/js/login.js"></script>

</head>
<body>
    <div class="stars"></div>
    <div class="twinkling"></div>
<div class="main-box">
    <div class="login-box">
    <div class="login-wrapper">
        <div class="logo">
            <p id="logo">InstaGram</p>
        </div>
        <div class="login-body">
            <h1 class="title">Sign in</h1>
              <div class="login-if">
            {% if msg %}
                {{ msg }}
            {% endif %}
             </div>
            <div class="container">
                <div class="field is-horizontal range">
                    <div class="field-label is-normal">
                        <label class="label" for="id"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="text" class="input" id="id" aria-describedby="emailHelp"
                                       placeholder="ID를 입력하세요">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field is-horizontal range">
                    <div class="field-label is-normal">
                        <label class="label" for="pw"></label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input type="password" class="input" id="pw" placeholder="비밀번호를 입력하세요">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button is-primary range" onclick=login()>로그인</button>
            </div>
        </div>
    </div>
    </div>
    <div class="regist-box">
        <div class="regist-wrapper">
        계정이 없으신가요? <a href="/register"><strong>가입하기</strong></a>
        </div>
    </div>
</div>


</body>
</html>