/* HTML 구간 전체적인 설정 */
body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
}

p, span {
    font-size: 14px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
}

/* 프로필 아이콘 테두리를 둥글게 만들기 */
.profile_picture {
    border-radius: 100%;
}

/* profile 이미지 */
.profile_img {
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
}